@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $font-color;
  background-color: $other-background-color;
}

body,
ul,
li,
h1,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li{
  list-style-type: none;
}

a {
  text-decoration: none;
  color: transparent;
}

h1 {
  font-family: "Poppins", sans-serif;

  font-weight: 900;
}
